{% extends "base.html" %}
{% block title %}Adminbereich{% endblock %}
{% block content %}
<h1>Adminbereich</h1>
<h2>Nutzer Übersicht</h2>
<table class="pure-table pure-table-horizontal" style="width: 100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Kartennr.</th>
            <th>Neu Einzahlen (€)</th>
            <th>Saldo</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for user in users | sort(attribute='name') %}
        <form action="/admin/save/user" method="post">
            <tr>
                <td><input type="text" name="id" value="{{ user.id }}" readonly></td>
                <td><input type="text" name="name" value="{{ user.name }}" required></td>
                <td><input type="text" name="transponder_code" value="{{ user.transponder }}"></td>
                <td><input type="number" name="payment" value="0" step="0.01" required></td>
                <td>{{ user.balance | pretty_currency }}</td>
                <td>
                    <div class="pure-button-group" role="group">
                        <button type="submit" class="pure-button pure-button-primary" name="action" value="save">
                            <ion-icon name="save"></ion-icon>
                        </button>
                        <button type="submit" class="pure-button pure-button-danger" name="action" value="delete"
                            onclick="return confirm('Nutzer permanent löschen?')">
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    </div>
                </td>
                </td>
            </tr>
        </form>
        {% endfor %}
        <form action="/admin/save/user" method="post">
            <tr>
                <td><input type="text" name="id" value="-" readonly></td>
                <td><input type="text" name="name" placeholder="Neuer Benutzer" required></td>
                <td><input type="text" name="transponder_code"></td>
                <td>N/A</td>
                <td>N/A</td>
                <td>
                    <button type="submit" class="pure-button pure-button-primary" name="action" value="save">
                        <ion-icon name="person-add"></ion-icon>
                    </button>
                </td>
            </tr>
        </form>
    </tbody>
</table>
<h2>Kassenaktivität</h2>
<h3>Letzten {{transactions | length}} Transaktionen</h3>
<table class="pure-table pure-table-horizontal" style="width: 100%">
    <thead>
        <tr>
            <th>Nutzer</th>
            <th>Betrag</th>
            <th>Verwendungszweck</th>
            <th>Zeitstempel</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr>
            <td>{{ t.name }}</td>
            <td>{{ t.amount | pretty_currency }}</td>
            <td>{{ t.description }}</td>
            <td>{{ t.timestamp | pretty_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Neue Kassenauszahlung</h3>
<form class="pure-form pure-form-aligned" style="max-width: 768px; margin:1em auto" action="/admin/save/transaction"
    method="post">
    <fieldset>
        <div class="pure-control-group">
            <label for="aligned-name">Name</label>
            <input type="text" id="aligned-name" name="user" value="Administrator" required />
        </div>
        <div class="pure-control-group">
            <label for="amount">Betrag</label>
            <input id="amount" type="number" name="amount" value="0" step="0.01" required />
            <span class="pure-form-message-inline">Bei <b>Einzahlungen</b> einen negativen Betrag eingeben.</span>
        </div>
        <div class="pure-control-group">
            <label for="description">Verwendungszweck</label>
            <input type="text" id="description" name="description" placeholder="Bohnen gekauft..." required />
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">
                Speichern <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </div>
    </fieldset>
</form>

<h2>Backup-Dateien</h2>
<a href="/admin/dump/users" class="pure-button pure-button" style="margin: 0 auto">
    <ion-icon name="download"></ion-icon> Nutzerdaten Backup
</a>
<a href="/admin/dump/database" class="pure-button pure-button-primary" style="margin: 0 auto">
    <ion-icon name="download"></ion-icon> Vollständiges Datenbank Backup
</a>

<h3>Datenbank-Backup Hochladen</h3>

<form method="post" enctype="multipart/form-data" action="/admin/dump/restore">
    <input type="file" name="file">
    <input type="submit" class="pure-button pure-button-primary" value="Hochladen">
</form>

<h2>Admin-Konto</h2>
<form class="pure-form" action="/admin/save/password" method="post">
    <fieldset>
        <legend>Administrator Passwort ändern</legend>
        <input type="password" placeholder="Passwort" name="password" />
        <button type="submit" class="pure-button pure-button-primary">
            <ion-icon name="key"></ion-icon>
        </button>
    </fieldset>
</form>
{% endblock %}