{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="uk-container uk-container-xsmall">
    <form method="post">
        <div class="uk-margin">
            <div class="uk-inline uk-width-expand">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input type="text" name="username" placeholder="Nutzername" class="uk-input uk-width-expand" required />
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-expand">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input type="password" name="password" placeholder="Passwort" class="uk-input uk-width-expand"
                    required />
            </div>
        </div>
        <div class="uk-margin">
            <button type="submit" class="uk-button uk-button-primary">Einloggen</button>
        </div>
    </form>
</div>
{% endblock %}