{% extends "base.html" %}
{% block title %}Einstellungen{% endblock %}
{% block content %}
<form class="uk-form-horizontal" action="/settings/save" method="POST">
    <fieldset class="uk-fieldset" id="coffee">
        <legend class="uk-legend">Kaffee</legend>
        <div class="uk-margin">
            <label class="uk-form-label" for="price_field">Preis (Cent)</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="price_field" name="price" type="number" value="{{config.DRINK_PRICE}}"
                    step="1">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="brand_field">Kaffee Marke</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="brand_field" name="brand" type="text" value="{{config.BEANINFO.brand}}">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="bean_field">Bohnen Typ:</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="bean_field" name="bean" type="text" value="{{config.BEANINFO.type}}">
            </div>
        </div>
    </fieldset>
    <fieldset class="uk-fieldset" id="contact">
        <legend class="uk-legend">Bezugsperson</legend>
        <div class="uk-margin">
            <label class="uk-form-label" for="contact_name">Name:</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="contact_name" name="contactname" type="text"
                    value="{{config.CONTACT.name}}">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="contact_mail">Email:</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="contact_mail" name="contactemail" type="email"
                    value="{{config.CONTACT.email}}">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="contact_phone">Bohnen Typ:</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="contact_phone" name="contactphone" type="tel"
                    value="{{config.CONTACT.phone}}">
            </div>
        </div>
    </fieldset>
    <button type="submit" class="uk-button uk-button-primary">Speichern</button>
</form>
{% endblock %}