{% extends "base.html" %}
{% block title %}Kasse & Tresor{% endblock %}
{% block content %}
<h3>Kasse: {{ balance | pretty_currency }}</h3>
<p>Der Kassenbetrag wird durch die Summierung aller Nutzersalden berechnet.</p>
<h4>Soll: {{ users | selectattr("balance", "lessthan", 0) | sum(attribute='balance') | abs | pretty_currency }}
    &bull; Haben: {{ users | selectattr("balance", "greaterthan", 0) | sum(attribute='balance') | abs | pretty_currency
    }}</h4>
<p>Der <em>Sollwert</em> ist die Summe aller Schulden der Nutzer. Der <em>Habwert</em> ist die
    Summe aller positiven Nutzersalden.</p>
<h3>Tresorbestand: {{ tresor.balance | pretty_currency }}</h3>
<h4>Einzahlungen: {{ tresor.depositTotal | abs | pretty_currency }} &bull; Auszahlungen: {{ tresor.withdrawalTotal | abs
    |
    pretty_currency }}</h4>
<p>Der Tresorbetrag wird seperat von den Nutzerkonten geführt.</p>
<form class="uk-form-horizontal uk-margin" action="/admin/save/transaction" method="post">
    <div class="uk-margin">
        <label class="uk-form-label" for="form-name">Name</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-name" type="text" name="user" value="Administrator" required>
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-amount">Betrag (€)</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-amount" type="number" name="amount" value="0" step="0.01" required>
            <p class="uk-text-meta">Für eine arbiträre Einzahlung, einen negativen Betrag eingeben.</p>
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-description">Verwendungszweck</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-description" type="text" name="description" placeholder="Bohnen gekauft?"
                required>
        </div>
    </div>

    <button type="submit" class="uk-button uk-button-primary uk-margin"><span class="uk-margin-small-right"
            uk-icon="check"></span>Speichern</button>
</form>
<h3>Letzten {{transactions | length}} Transaktionen</h3>
<table class="uk-table uk-table-hover">
    <thead>
        <tr>
            <th>Nutzer</th>
            <th>Betrag</th>
            <th>Verwendungszweck</th>
            <th>Zeitstempel</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr>
            <td>{{ t.name }}</td>
            <td>{{ t.amount | pretty_currency }}</td>
            <td>{{ t.description }}</td>
            <td>{{ t.timestamp | pretty_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}