{% extends "base.html" %}
{% block title %}Kasse & Tresor{% endblock %}
{% block content %}
<h2 class="uk-heading-line"><span>Kasse</span></h2>
<h3>Bestand: {{ (intake + kasse.balance) | pretty_currency }} &bull; Ausstehend: {{ debts | abs | pretty_currency }}
</h3>
<p>Der Kassenbestand wird durch die Summierung aller Nutzereinzahlungen plus arbiträre Ein- oder Auszahlungen der
    Kasse berechnet.</p>
<p>Der ausstehende Wert berechnet sich durch die Summierung aller negativen Nutzersalden.</p>
<h2 class="uk-heading-line"><span>Ein- und Auszahlung Betätigen</span></h2>
<form class="uk-form-horizontal uk-margin" action="/admin/save/transaction" method="post">
    <div class="uk-margin">
        <label class="uk-form-label" for="form-account">Konto</label>
        <div class="uk-form-controls">
            <select id="form-account" class="uk-select" name="account">
                <option value="{{ kasse.id }}">{{ kasse.name }}</option>
                <option value="{{ tresor.id }}">{{ tresor.name }}</option>
            </select>
            <p class="uk-text-meta">Die Kasse steht für kleinere Ein- oder Ausgaben zur Verfügung, wie
                zum Beispiel der Kauf von neuen Kaffeebohnen. Der Tresor hingegen dient als langfristige
                Geldablage und wird nirgends sonst mitgerechnet.
            </p>
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-name">Name</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-name" type="text" name="user" value="{{config.CONTACT.name}}" required>
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-amount">Betrag (€)</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-amount" type="number" name="amount" value="0" step="0.01" required>
            <p class="uk-text-meta"><strong>Hinweis:</strong> zum abbuchen hier einen negativen Betrag eingeben.</p>
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-description">Verwendungszweck</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-description" type="text" name="description" placeholder="Bohnen gekauft?"
                required>
        </div>
    </div>

    <button type="submit" class="uk-button uk-button-primary uk-margin"><span class="uk-margin-small-right"
            uk-icon="check"></span>Buchen</button>
</form>
<h2 class="uk-heading-line"><span>Tresor</span></h2>
<h3>Bestand: {{ tresor.balance | pretty_currency }}</h3>
<h4>Einzahlungen: {{ tresor.depositTotal | abs | pretty_currency }} &bull; Auszahlungen: {{ tresor.withdrawalTotal | abs
    |
    pretty_currency }}</h4>
<p>Der Tresor wird seperat von den Nutzersalden und Kasse geführt.</p>
<h2 class="uk-heading-line"><span>Letzten {{transactions | length}} Transaktionen</span></h2>
<table class="uk-table uk-table-hover">
    <thead>
        <tr>
            <th>Nutzer</th>
            <th>Betrag</th>
            <th>Verwendungszweck</th>
            <th>Zeitstempel</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr>
            <td>{{ t.name }}</td>
            <td>{{ t.amount | pretty_currency }}</td>
            <td>{{ t.description }}</td>
            <td>{{ t.timestamp | pretty_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}