<!DOCTYPE html>
<html lang="de">

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js"></script>

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='2615.svg') }}">

    <title>Kaffeesystem: {% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <nav class="uk-navbar-container uk-margin-bottom" uk-navbar>
        <div class="uk-navbar-left">
            <a href="/" class="uk-navbar-item uk-logo">Kaffeesystem</a>
            <ul class="uk-navbar-nav">
                <li><a href="/">Übersicht</a></li>
                <li>
                    <a href="/admin">Adminbereich</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-nav-header">Verwalten</li>
                            <li><a href="/admin#users">Nutzer</a></li>
                            <li><a href="/admin#ledger">Kasse</a></li>
                            <li><a href="/admin#backups">Backups</a></li>
                            <li><a href="/admin#account">Konto</a></li>
                            <li class="uk-nav-header">Einstellungen</li>
                            <li><a href="/settings#coffee">Kaffee</a></li>
                            <li><a href="/settings#contact">Beugsperson</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/api">Rohdaten</a></li>
            </ul>
        </div>
        {% if admin %}
        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                <a href="/admin/logout" class="uk-button uk-button-primary">Logout</a>
            </div>
        </div>
        {% endif %}
    </nav>
    <div class="uk-container uk-container-xlarge" uk-height-viewport="expand: true">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="uk-alert-primary" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="uk-text-center">{{ self.title() }}</h1>
        {% block content %}
        {% endblock %}
    </div>
    <footer class="uk-section uk-section-muted uk-margin-xlarge-top">
        <div class="uk-container uk-container-xlarge">
            {% block footer %}
            {% endblock %}
            <div class="uk-grid-small uk-grid" uk-grid>
                <div class="uk-width-expand"><span uk-icon="warning"></span> Nur für den internen gebrauch.</div>
                <div>
                    <a href="https://github.com/j0hax/kaffee-server">Quellcode</a> &bull; <a
                        href="https://github.com/j0hax/kaffee-ui">Client</a> &bull; <a
                        href="https://github.com/j0hax/kaffee-server/issues/new/choose">Bug Melden</a>
                </div>
            </div>
    </footer>
</body>

</html>