{% extends "base.html" %}
{% block title %}Übersicht{% endblock %}
{% block content %}

<h1>Statistiken</h1>
<h2>Nutzer: {{ users | length }}</h2>
<h2>Kaffees Getrunken: {{ users | sum(attribute='withdrawalCount') | pretty_number }}</h2>
<h2>Kasse: {{ transactions | sum(attribute='amount') | pretty_currency }} ({{ users | sum(attribute='depositCount') |
    pretty_number }} Einzahlungen)</h2>

<h1>Nutzerübersicht</h1>
<table class="pure-table pure-table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Kaffees</th>
            <th>Saldo</th>
            <th>Letzte Änderung</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.withdrawalCount | pretty_number }}</td>
            <td>{{ user.balance | pretty_currency }}</td>
            <td>{{ user.lastUpdate | pretty_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}