{% extends "base.html" %}
{% block title %}Übersicht{% endblock %}
{% block content %}

<h2 class="uk-heading-line"><span>Statistiken</span></h2>
<h3>Nutzer: {{ users | length }}</h3>
<h3>Kaffees Getrunken: {{ users | sum(attribute='withdrawals') | pretty_number }}</h3>
<h3>Kasse: {{ transactions | sum(attribute='amount') | pretty_currency }} ({{ users | sum(attribute='deposits') |
    pretty_number }} Einzahlungen)</h3>

<h2 class="uk-heading-line"><span>Nutzerübersicht</span></h2>
<table class="uk-table uk-table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Kaffees</th>
            <th>Saldo</th>
            <th>Letzte Änderung</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.withdrawals | pretty_number }}</td>
            <td>{{ user.balance | pretty_currency }}</td>
            <td>{{ user.lastUpdate | pretty_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}