[Unit]
Description=Kaffee Server
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
# Point WorkingDirectory to the directory with all files
WorkingDirectory=/root/kaffee-server
ExecStart=/usr/bin/python3 main.py

[Install]
WantedBy=multi-user.target 
